.forecast {
   display: inline-block;
   width: 300px;
   margin: 5px 10px;
   box-shadow: 1px 1px 1px 1px lightgrey;
   border-radius: 10px;
}

.forecast div {
   display: inline-block;
   padding: 10px
}

.forecast .wi:before {
    font-size: 4em;
}

.forecast div:nth-child(1) div:nth-child(1) { 
    padding: 20px;
}

.forecast div:nth-child(1) div:nth-child(2) { 
    font-size: 3em;
    padding: 10px 0px;
}

.forecast div:nth-child(2) div:nth-child(1) { 
    display: block;
}

.forecast div:nth-child(2) div { 
    padding: 0px 20px;
    font-size: 10px;
}
